*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #023047;
}
body > h1{
    color: white;
    font-size: 4rem;
    text-align: center;
    margin: 1rem;
}

.card{
    max-width: 800px;
    margin: 1rem auto;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px
}
.profile_picture{
    width: calc(100% / 10);
}
.profile_picture > img{
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1 / 1;
}
.autore{
    width: 87%;
    margin-left: 3%;
    align-self: center;
}
.like{
    width: 50%;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    text-align: center;
}